
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    
    width:100%;
    
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    positon: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:234px;
    max-height:160px; padding:5px; border:1px solid #242424; -webkit-box-shadow: 1px 1px 5px 0px rgba(35, 35, 35, 0.75); -moz-box-shadow: 1px 1px 5px 0px rgba(35, 35, 35, 0.75); box-shadow: 1px 1px 5px 0px rgba(35, 35, 35, 0.75);
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 28px;
    height: 28px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    
}

.nbs-flexisel-nav-left {
    left: -24px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -24px;
    background: url(../images/button-next.png) no-repeat;
}